<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<title>Mi movie Finder</title>
	<meta charset="iso-8859-1">
	<link rel="stylesheet" href="stylesheets/layout.css" type="text/css">
</head>
<body>
	<div id="header" class="wrapper row1">
		@html.block('header')
	</div>
	<!-- content -->
	<div class="wrapper row2" id ="content">
		@html.block('content')
	</div>
	<div id="detail" class="wraper detail">
		@html.block('detail')
	</div>
	<div id ="gohome" class="wraper row1">
		@html.block('gohome')
	</div>
	<!-- Footer -->
	<div class="wrapper row3">
		<footer id="footer" class="clear">
			<p class="fl_left">Copyright &copy; 2012 - All Rights Reserved - <a href="#">Mi movies</a></p>
			<p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
		</footer>
	</div>
</body>
</html>
